[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.7"
gunicorn = "*"
django-heroku = "*"
channels = "*"
dj-database-url = "*"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.6"
