{% extends 'games/layout.html' %}

{% block body %}
<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="navTab">
            <a class="nav-link active" id="lobbyTab" data-toggle="pill"
            href="#lobbyContent">
                Lobby
            </a>
            <a class="nav-link" id="gamesTab" data-toggle="pill" href="#gamesContent">
                My Games
            </a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="navContent">
            <div class="tab-pane fade show active" id="lobbyContent">
                <div class="row">
                {% for game in games %}
                {% include 'games/card.html' %}
                {% empty %}
                <h1 class="display-1">No Current Games</h1>
                {% endfor %}
                </div>
                <a class="btn btn-primary mt-4" href="{% url 'new_game' %}">
                    Host Game
                </a>
            </div>
            <div class="tab-pane fade" id="gamesContent">
                <div class="row">
                {% for game in my_games %}
                {% include 'games/card.html' %}
                {% empty %}
                <h1 class="display-1">No Current Games</h1>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
